{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-export-default-from"],
  "sourceMaps": "inline"
}